<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tele-triage</title>
</head>
<body>
    {% for key,val in values.items()%}
        <p>{{key}}: {{val}}</p>
    {% endfor %}
    <form action = "./verdict", method="POST">
        <input type="radio" name="triages" id="home" value="home"/><label for="home">stay the fuck home</label>
        <input type="radio" name="triages" id="er" value="er"/><label for="er">get the fuck over to the er</label>
        <input type="radio" name="triages" id="requeue" value="requeue"/><label for="requeue">let someone else handle this fucker</label>
        <input type="hidden" name="phonenumber" value="{{ phonenumber }}"/>
        <input type="submit" value="submit">fucking submit</button>
    </form>
</body>
</html>